[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/privacy-shield/lib/forge-std"]
	path = contracts/privacy-shield/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
